 <div class="cover cover--no-search" data-type="background" data-speed="2"  style="background: url('img/bg-cover.jpg') center center; background-size: cover; background-attachment: fixed;">
    <div class="cover__filter"></div>
    <p class="text-center" id="search-trigger"><i class="fa fa-search" aria-hidden="true"></i></p>
</div>
<div class="contact-us">

	<!-- Titlebar
	================================================== -->


	<!-- Content
	================================================== -->
	<div class="container">
		
		<!-- Submit Page -->
		<div class="sixteen columns">
			<p class="terms-pre" style="margin-top: 50px;">
<span translate="about_us_first"></span><a href="" ng-click="aboutSignUp()" translate="sign_up" translate-default="&nbsp;"></a> <span translate="about_us_middle" translate-default="&nbsp;"></span><a href="" ui-sref="contact-us" translate="contact_us" translate-default="&nbsp;"></a><span translate="about_us_last" translate-default="&nbsp;"></span></p>

		</div>

	</div>
</div>