/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/google168f1cac6a30004e.html
/public/google4afaf793115d084f.html
/node_modules1
/public/dist/*
sitemap.xml