 <div class="cover cover--no-search" data-type="background" data-speed="2"  style="background: url('img/bg-cover.jpg') center center; background-size: cover; background-attachment: fixed;">
    <div class="cover__filter"></div>
    <p class="text-center" id="search-trigger"><i class="fa fa-search" aria-hidden="true"></i></p>
</div>
<div class="contact-us">

	<!-- Titlebar
	================================================== -->


	<!-- Content
	================================================== -->
	<div class="container">
		
		<!-- Submit Page -->
		<div class="sixteen columns">
			<p class="terms-pre"><b>Terms of Service</b>
These Terms and Conditions regulate the Service provided by Sharado for its Users. By using this service, the User accepts these Terms and Conditions and the Privacy Policy concerning the processing of personal data, available at sharado.com/privacy.
<b>1. Contacts</b>
For any information about the Service please contact:
Xandas S.r.l.
via senato, 15
20121 milano
P.iva: 03697110967
<b>2. What is Sharado?</b>
Job search
The vacancies published on Sharado are obtained automatically and manually from other websites, or come from Sharado’s Advertisers. When Vacancies are obtained from third party websites, Sharado indexes them and publishes a simple extract and job information, providing the link trought the apply button in order to view the entire Vacancy published on the website of origin. The User intending to view the Vacancy, leaves Sharado’s website by clicking on the relevant link in order to view the third party website, the content of which is in no way Sharado’s responsibility.

Job Alerts and Email vacancies
By providing their email address, the User may register to the “Job Alert” service and receive email notifications on the availability of new job offers corresponding to the search parameters they have set, at the time of registration or later. In addition to the notification of new vacancies, the Job Alert service may include receiving direct vacancies, which correspond to the search parameters set and which contain relevant job offers.
The User may at any given moment modify their search parameters on the Website, or they may ask for the Service to be deactivated. 
<b>3. Limitations of Liability</b>
. Sharado does not play any part in personnel recruitment regarding the job offers sent in the Job Alert or job offers sent directly via email. Sharado limits itself to collecting job offers and making them as accessible as possible to the Users, informing the Users of new Vacancies related to the job categories they have chosen or to jobs similar to those the user has expressed an interest towards.

The Advertiser bears sole responsibility for the content of the Ad. Sharado is in no way involved in negotiations between Advertisers and Users, and exercises no control over the quality, safety or lawfulness of the job offers, or the veracity of the information given to Advertisers by Users.
The User expressly releases Sharado of all liability within the limits permitted by law, in relation of any possible damages or claims concerning itself or third parties, arising from ads posted on the Site or sent to Users via email. 
Sharado cannot be held responsible for Service malfunction caused by third party websites upon which the performance of said Service depends.
When Users sign up to the Job Alert Service by providing their email address, they are responsible for the security of their own authentication, determined by the Sharado Cookie. This Cookie will remain active and automatically recognizes the User's browser until the "log out" link is clicked, which prevents automatic identification on the following visit.
<b>4. Copyright</b>
The “Sharado” trademark, as well as all trademarks, both figurative and not, and all the signs, commercial names, service trademarks, nominative trademarks, illustrations, images and logos which appear on the Website are and remain Sharado’s and its licensees’ exclusive property, and are protected by applicable trademark laws and relevant international treaties.
The images, texts and distinguishing marks (such as trademarks, domain names, etc.) of third parties, which appear on the Website, belong to their respective holders and are exclusively used to represent the ownership of the Vacancies.
<b>5. Jurisdiction</b>
This agreement, subject to the exceptions provided by consumer protection laws, is subject to Italian law and to the exclusive jurisdiction of the Court of Milan.
<b>6. Amendments to these Terms and Conditions</b>
Sharado reserves the right to amend these Terms and Conditions at any moment, alerting the User by means of their publication on the Website.
A User who continues to use the Service after the publication of said notice, accepts the new Conditions without reservation.
<b>7. Definitions</b>
Vacancy
Advertisement of a job offer accessible through the Website, the content of which is published directly on Sharado, or obtained automatically from third party websites offering job vacancies and specified within the same vacancy, of which Sharado publishes an extract.

Advertiser
The subject publishing Vacancies by means of Sharado’s website.

Service
The service of indexing vacancies, publication, visualization on the Website and possibly, email communication offered by Sharado.

Terms and Conditions or Conditions 
These Terms and Conditions of service. 

Personal data
Any information concerning a natural person, identified or identifiable, even indirectly, by reference to any other information including a personal identification number.

Data subject
Any natural or legal person that is the subject of the Personal Data.

Website or Site
Sharado, a search engine for job vacancies operating by means of localisations in various Countries of the world, identified by Sharado.com website.
Sharado.com, a search engine for jobs that operates through local versions in various countries of the world, identified by the Sharado.com Website.

Data Controller
Any natural or legal person, public authority, and any other body, association or other entity in charge of making, also jointly with another data controller, the decisions about the purposes and methods of the data processing and the relevant means, including security matters, in relation to the working and use of this Website.

User
The subject using the services or products offered by the Website.</p>

		</div>

	</div>
</div>