<div class="container">
<div ncy-breadcrumb></div>
	<div class="my-account sharado-my-account">
		<h1 class="reset-password-h1" translate="reset_password"></h1>

		<form method="post" class="register" name="resetForm">
							
			<p class="form-row form-row-wide forgot-password-p">
				<label for="email2"><span translate="email_address"></span>
					<i class="ln ln-icon-Mail"></i>
					<input type="email" class="input-text" name="resetEmail" id="email2" value="" ng-model="resetEmail" required />
				</label>
				<span class="validation_error" ng-show="resetForm.resetEmail.$dirty && resetForm.resetEmail.$error.required" translate="email_required"></span>
				<span class="validation_error" ng-show="resetForm.resetEmail.$dirty && resetForm.resetEmail.$error.email" translate="invalid_email"></span> 
			</p>
			<p style="display: none;" class="reset-account-email" translate="reset_password_link_sended"></p>

			<p class="form-row">
				<button ng-click="resetPassword()" type="button" class="button border fw margin-top-10 sharado-button-next sharado-second-step forgot-password-p" name="register" translate="reset_password"></button>
				
			</p>

		</form>
	</div>
</div>