<div class="container">
<div ncy-breadcrumb></div>
	<div class="my-account sharado-my-account">
		<h1 class="reset-password-h1" translate="reset_password"></h1>

		<form method="post" class="register" name="resetForm">
							
			<p class="form-row form-row-wide">
				<label for="password1"><span translate="password"></span>
					<i class="ln ln-icon-Lock-2"></i>
					<input class="input-text" type="password" name="password1" id="password1" required ng-model="password"/>
					<span class="validation_error" ng-show="resetForm.password.$dirty && resetForm.password.required">Password is required.</span>
				</label>
			</p>

			<p class="form-row form-row-wide">
				<label for="password1"><span translate="confirm_password"></span>
					<i class="ln ln-icon-Lock-2"></i>
					<input class="input-text" type="password" name="password2" id="password2" required ng-model="confirmPassword"/>
					<span class="validation_error" ng-show="resetForm.confirmPassword.$dirty && resetForm.confirmPassword.required" translate="confirmation_required"></span>

				</label>
				
				<span class="validation_error" ng-show="pass_unmatch" translate="passwords_not_matching"></span>
			</p>
			<input type="hidden" ng-model="$root.resetEmail">
			<input type="hidden" ng-model="$root.resetToken">

			<div class="col-md-12 form-group">
				<button ng-click="resetPasswordChange()" type="submit" class="button col-sm-8 col-xs-6 reg-but" name="register" translate="reset_password"></button>
			</div>
		</form>
	</div>
</div>