<div class="cover cover--no-search" data-type="background" data-speed="2"  style="background: url('img/bg-cover.jpg') center center; background-size: cover; background-attachment: fixed;">
  <div class="cover__filter"></div>
  <p class="text-center" id="search-trigger"><i class="fa fa-search" aria-hidden="true"></i></p>
</div>

<section class="content">
    <div class="container">
    	<div class="row">
    		<h1 class="text-center" translate="reset_password" translate-default="&nbsp;"></h1>
    		<form class="margin-top" method="post"  name="resetForm">
    			<div class="col-sm-6 form-group">
		          <input class="form-control" type="password" name="password1" id="password1" placeholder="Password" required ng-model="password"/>
		          <span class="validation_error" ng-show="resetForm.password.$dirty && resetForm.password.required" translate="password_required" translate-default="&nbsp;"></span>
		        </div>
	        	<div class="col-sm-6 form-group">
		          <input class="form-control" type="password" name="password2" id="password2" placeholder="Password Confirmation" required ng-model="confirmPassword"/>
		          <span class="validation_error" ng-show="resetForm.confirmPassword.$dirty && resetForm.confirmPassword.required" translate="confirmation_required" translate-default="&nbsp;">
		          <span class="validation_error" ng-show="pass_unmatch" translate="passwords_not_matching" translate-default="&nbsp;"></span>
		        </div>
		        <input type="hidden" ng-model="$root.resetEmail">
				<input type="hidden" ng-model="$root.resetToken">
				<div class="col-md-8 col-md-offset-2 form-group">
					<button ng-click="resetPasswordChange()" type="submit" class="button col-sm-8 col-xs-6 reg-but" name="register" translate="reset_password" translate-default="&nbsp;"></button>
				</div>
    		</form>
    	</div>
	</div>
</section>